@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/* font-family: 'Kaushan Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
/* font-family: 'Nunito', sans-serif; */
@font-face {
    font-family: 'nunitoextralight';
    src:url('../fonts/nunito-extralight/nunito-extralight-webfont.eot');
    src:url('../fonts/nunito-extralight/nunito-extralight-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/nunito-extralight/nunito-extralight-webfont.woff2') format('woff2'),
        url('../fonts/nunito-extralight/nunito-extralight-webfont.woff') format('woff'),
        url('../fonts/nunito-extralight/nunito-extralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'nunitosemibold';
    src:url('../fonts/nunito-semibold/nunito-semibold-webfont.eot');
    src:url('../fonts/nunito-semibold/nunito-semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/nunito-semibold/nunito-semibold-webfont.woff2') format('woff2'),
        url('../fonts/nunito-semibold/nunito-semibold-webfont.woff') format('woff'),
        url('../fonts/nunito-semibold/nunito-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@font-face {
    font-family: 'open_sanssemibold';
    src:url('../fonts/opensans-semibold/opensans-semibold-webfont.eot');
    src:url('../fonts/opensans-semibold/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-semibold/opensans-semibold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-semibold/opensans-semibold-webfont.woff') format('woff'),
        url('../fonts/opensans-semibold/opensans-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  */
html {
    scroll-behavior: smooth;
}
.container {
    color: #0f1417;
    position: relative;
    width: 1110px;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    z-index: 10;
}
header {
    margin: 0 auto 106px;
    display: flex;
    justify-content: space-between;
}
.logo {
    margin: 64px 0 0 -3px;
    color: #ffffff;
    font-family: 'Kaushan Script', cursive;
    font-size: 36px;
    text-decoration: none;
    letter-spacing: 0.8px;  
}
.nav_list {
    font-family: 'nunitosemibold';
}
.list {
    display: flex;
    flex-direction: row;
    column-gap: 39px;
    margin: 78px 0 0 0;
}
.list li.active a{
    border-bottom: 2px solid #fdfcfc;
}
.nav_link {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 0 0 6px 0;
    letter-spacing: 0.5px;
}
.list li a:hover {
    border-bottom: 2px solid #fdfcfc;
}
.main_block_top {
    margin: 0 auto 22px;
    color: #ffffff;
    font-family: 'nunitosemibold';
    line-height: 60px;
    letter-spacing: 1px;
}
h1 {
    font-size: 48px;
    letter-spacing: 0.4px;
}
.main_block_top p {
    font-size: 40px;
    line-height: 67px;
    letter-spacing: 0.7px;
}
.main_block_top_text {
    margin: 0 0 33px;
    color: #ffffff;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.4px;
}
.main_block_top_text li {
    letter-spacing: 0.4px;
}
.main_block_top_buttons {
    font-size: 0;
    margin: 0 0 119px 0;
}
.main_block_top_buttons_link li.active a{
    background: #ffffff;   
    color: #010000;
}
.main_block_top_buttons_link li{
    display: inline-block; 
    border: 2px solid #ffffff;
}
.main_block_top_buttons a{
    display: inline-block;
    padding: 11px 33px 11px 32px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.4px;
}
a.two_button {
    padding: 12px 33px 11px 35px;
}
.main_block_top_buttons a:hover {
    background: #ffffff;   
    color: #010000;
}
.main_block_top_buttons_link li:first-child {
    margin: 0 30px 0 0 ;
}
.block_first_wh_arrow {
    display: inline-block;
    margin: 0 0 25px 0;
}
.bl_arrow {
    display: inline-block;
    margin: 0 0 41px 0;
    position: relative;
    z-index: 5;
}
.next a:hover {
    transform: scale(1.2);
}
.background_top img, .background_second_block {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}
.background_top {
    position: relative;
    text-align: center;
}
.background_top::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000000;
    opacity: 0.5;
    z-index: 5;
}
.text_second_block {
    font-size: 14px;
    margin: 0 0 32px 0;
}
h2 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.4px;
    font-weight: 700;
}
.title_second_block {
    padding: 48px 0 19px 0;
}
.text_second_block p {
    font-weight: 700;
    line-height: 30px;
}
.second_block {
    text-align: center;
    position: relative;
}
.picture_baget {
    height: 340px;
    position: relative;
} 
.dignity_bread {
    color: #0f1417;
    font-size: 12px;
    line-height: 36px;
    letter-spacing: 0.2px;
}
.dignity_bread>div {
    position: absolute;
    display: flex;
    margin: 15px;
}
.pict_bread {
    margin-top: -9px;
}
.vector_one {
    top: 21px;
    left: 38px;
}
.vector_one span {
    transform: translateX(-7px) translateY(-10px);
}
.vector_two {
    top: 75px;
    left: 11px;
}
.vector_two span {
    transform: translateX(-7px) translateY(-10px);
}
.vector_three {
    top: 137px;
    left: 28px;
}
.vector_three span {
    transform: translateX(-7px) translateY(-2px);
}
.vector_four {
    top: 179px;
    left: 28px;
}
.vector_four span {
    transform: translateX(-7px) translateY(14px);
}
.vector_five {
    top: -3px;
    right: 35px;
}
.vector_five span {
    transform: translateX(13px) translateY(-8px);
}
.vector_six {
    top: 58px;
    right: 5px;
}
.vector_six span {
    transform: translateX(12px) translateY(-8px);
}
.vector_seven {
    top: 114px;
    right: 25px;
}
.vector_seven span {
    transform: translateX(9px) translateY(-1px);
}
.vector_eight {
    top: 155px;
    right: 44px;
}
.vector_eight span {
    transform: translateX(9px) translateY(16px);
}
.third_block {
    background: #ffffff;
    text-align: center;
}
.title_products_price {
    padding: 57px 0 33px 0;
    letter-spacing: 0.5px;
}
.wrapper_products {
    padding: 19px 24px 38px 24px;
    box-shadow: 0 6px 9px rgba(2, 6, 18, 0.04);
    background: #ffffff;
    cursor: pointer;
}
.wrapper_products:hover {
    box-shadow: 0 9px 9px rgba(0, 0, 0, 0.2);
}
.product_types {
    position: relative;
    padding: 0 160px;
    display: flex;
    margin-bottom: 40px;
}
.product_types::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-bottom: 3px solid #000000;
    border-left: 3px solid #000000;
    transform: rotate(45deg);
    top: 127px;
    left: 137px;
    cursor: pointer;
}
.product_types::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-bottom: 3px solid #000000;
    border-right: 3px solid #000000;
    transform: rotate(-45deg);
    top: 127px;
    right: 138px;
    cursor: pointer;
    z-index: 55;
}
.products p {
    line-height: 18px;
    font-weight: 700;
}
.level_one {
    width: 112px;
    font-size: 14px;
    padding-bottom: 8px;
}
.level_two {
    padding-bottom: 10px;
    font-size: 10px;
    letter-spacing: 0.25px;
}
.level_three {
    font-size: 16px;
    letter-spacing: 0.4px;
    font-family: 'open_sanssemibold';
}
.photo_bread_one, .photo_bread_two, .photo_bread_three, .photo_bread_four {
    position: relative;
}
.products {
    padding-top: 127px;
}
.product_one, .product_two, .product_three, .product_four {
    margin-left: 30px;
}
.photo_bread_one::before {
    content: "";
    position: absolute;
    width: 110px; 
    height: 110px;
    background: url(../img/sprite/css_sprites_prise.png) -10px -10px;
    top: 0;
    left: 1px;
}
.photo_bread_two::before {
    content: "";
    position: absolute;
    width: 110px; 
    height: 110px;
    background: url(../img/sprite/css_sprites_prise.png) -140px -10px;
    top: 0;
    left: 1px;
}
.photo_bread_three::before {
    content: "";
    position: absolute;
    width: 110px; 
    height: 110px;
    background: url(../img/sprite/css_sprites_prise.png) -10px -140px;
    top: 0;
    left: 1px;
}
.photo_bread_four::before {
    content: "";
    position: absolute;
    width: 110px; 
    height: 110px;
    background: url(../img/sprite/css_sprites_prise.png) -140px -140px;
    top: 0;
    left: 1px;
}
.arrow_product_types_left {
    position: absolute;
    top: 50%;
    left: 23%;
    margin-top: -14px;
}
.arrow_product_types_right {
    position: absolute;
    top: 50%;
    right: 25%;
    margin-top: -14px;
}
.circles {
    font-size: 0;
    margin-bottom: 40px;
}
.circles_link li{
    margin-left: 4px;
    display: inline-block;
    background: #000000;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    cursor: pointer;
}
.circles_link li:first-child {
    margin: 0;
}
.text_products {
    color: #170e0e;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 38px;
}
.third_block_buttons {
    font-size: 0;
    margin: 0 0 64px 0;
}
.third_block_buttons_link li {
    display: inline-block; 
    border: 2px solid #000000;
}
.third_block_buttons_link a {
    display: inline-block;
    padding: 11px 35px 11px 33px;
    text-decoration: none;
    color: #081013;
    letter-spacing: 0.2px;
    font-size: 14px;
    background: #ffffff; 
}
.third_block_buttons_link a:hover {
    background: #081013;
    color: #ffffff;
}
.third_block_buttons_link li.active a{
    background: #081013;
    color: #ffffff;
}
.third_block_buttons_link li:first-child {
    margin: 0 30px 0 0 ;
}
.buy_bread>h2 {
    letter-spacing: 0.5px;
    color: #ffffff;
    padding: 56px 0 20px 0;
}
.figure_shop {
    padding: 0 0 50px 0;
}
.buy_bread_text {
    color: #ffffff;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.35px;
    padding: 0 0 32px 0;
}
.figure_shop_buy_bread {
    margin: 0 0 49px 0;
}
.list_shops {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 28px;
    column-gap: 28px;
    justify-content: center;
    align-items: center;
}
.list_shops li {
    width: 161px;
} 
.winn_dixie {
    height: 28px;
    background: url(../img/sprite/css_sprites_BakeryBo.png) -10px -254px;
}
.walmart {
    height: 38px;
    background: url(../img/sprite/css_sprites_BakeryBo.png) -10px -90px;
}
.walgreens {
    height: 35px;
    background: url(../img/sprite/css_sprites_BakeryBo.png) -189px -68px;
}
.publix {
    height: 36px;
    background: url(../img/sprite/css_sprites_BakeryBo.png) -10px -148px;
}
.meijer {
    height: 60px;
    background: url(../img/sprite/css_sprites_BakeryBo.png) -10px -10px;
}
.fred_meyer {
    height: 30px;
    background: url(../img/sprite/css_sprites_BakeryBo.png) -190px -148px;
}
.whole_foods {
    height: 38px;
    background: url(../img/sprite/css_sprites_BakeryBo.png) -189px -10px;
}
.safeway {
    height: 30px;
    background: url(../img/sprite/css_sprites_BakeryBo.png) -10px -204px;
}
.the_shops_buy_bread_BakeryBo {
    margin: 0 0 58px 0;
}
.buy_bread_next {
    margin: 0 0 54px 0;
}
.background_buy_bread::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #010000;
    opacity: 0.68;
    z-index: 5;
}
img.background_buy {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}
.block_four {
    position: relative;
    color: #0b0806;
    text-align: center;
    z-index: 10;
}
.title_section_four {
    color: #ffffff;
    padding: 56px 0 20px 0;
}
.facts_about_bread_BakeryBo h2 {
    letter-spacing: 0.8px;
    padding: 72px 0 60px 0;
    letter-spacing: 0.6px;
}
.facts_about_bread_BakeryBo {
    text-align: center;
}
.wrapper_facts {
    display: flex;
    flex-direction: row;
}
.facts {
    width: 135px;
    padding-top: 67px;
}
.wide {
    width: 145px;
}
.fact_name {
    font-size: 16px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.3px;
}
.description {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
}
.Organic_only {
    position: relative;
    margin-left: 11px;
}
.Organic_only::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background: url(../img/sprite/css_sprites_BakeryBo.png) -369px -91px;
    top: -7px;
    left: 39px;
}
.years_serving {
    position: relative;
    margin-left: 55px;
}
.years_serving::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background: url(../img/sprite/css_sprites_BakeryBo.png) -10px -369px;
    top: -5px;
    left: 41px;
}
.supermarkets {
    position: relative;
    width: 149px;
    margin-left: 51px;
}
.supermarkets::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background: url(../img/sprite/css_sprites_BakeryBo.png) -10px -298px;
    top: -2px;
    left: 42px;
}
.best_products {
    position: relative;
    width: 140px;
    margin-left: 45px;
}
.best_products::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background: url(../img/sprite/css_sprites_BakeryBo.png) -368px -248px;
    top: 8px;
    left: 39px;
}
.recycable_bags {
    position: relative;
    margin-left: 51px;
}
.recycable_bags::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background: url(../img/sprite/css_sprites_BakeryBo.png) -368px -171px;
    top: -6px;
    left: 37px;
}
.baking_classes {
    position: relative;
    margin-left: 56px;
}
.baking_classes::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background: url(../img/sprite/css_sprites_BakeryBo.png) -368px -10px;
    top: -8px;
    left: 37px;
}
.wrapper_facts, .five_block_arrow {
    margin: 0 0 61px 0;
}
.section_five {
    background: #ffffff;
}
#section_six {
    background: #f9f7f7;
}
.buy_coupon {
    display: flex;
    flex-direction: row;
    padding: 74px 0 94px 0;
}
.buy_coupon_info {
    width: 619px;
    margin: 0 78px 0 0;
}
.buy_coupon_info p.buy_coupon_info_text_title {
    padding: 0 0 16px 0;
}
.buy_coupon_info p:nth-child(4) {
   padding-bottom: 17px;
}
.buy_coupon_info p:nth-child(6) {
    padding-bottom: 37px;
}
.buy_coupon_info p{
    color: #0b0806;
    line-height: 30px;
    letter-spacing: 0.33px;
    font-size: 14px;
}
.buy_coupon_info h2 {
    padding: 0 0 26px 0;
}
.e-mail_user {
    height: 36px;
    width: 342px;
    border-radius: 0;
    border: 1px solid #000000;
    margin: 0 0 10px 0;
}
p.text_checkbox {
    margin-bottom: 13px;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]+label {
    padding: 6px 5px 5px 35px;
    position: relative;
}
input[type="checkbox"]+label::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid #000000;
    left: 0;
    top: 2px;
}
input[type="checkbox"]:checked+label::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 17px;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    left: 5px;
    top: 0;
    transform: rotate(37deg);
}
input[type="email"]::placeholder {
    padding-left: 18px;
}
p>label {
    color: #000101;
    font-family: 'nunitoextralight';
    font-size: 12px;
}
.coupon_buttons {
    font-size: 14px;
}
.coupon_buttons a {
    text-decoration: none;
    padding: 9px 33px 8px 33px;
    border: 2px solid #000000;
    background: transparent;
    letter-spacing: 0.35px;
    color: #081013;
}
.coupon_buttons a:hover {
    background: #081013;
    color: #ffffff;
}
.coupon_buttons input[type="submit"] {
    padding: 9px 17px 10px 18px;
    margin-left: 27px;
    letter-spacing: 0.9px;
    cursor: pointer;
}
.coupon_buttons input.active {
    background: #081013;
    color: #ffffff;
}
.container_coupon_promo {
    color: #0b0806;
    font-family: 'open_sanssemibold';
   padding: 54px 35px 40px 30px;
    width: 316px;
    text-align: center;
    position: relative;
    z-index: 10;
}
.figure_coupon {
    position: absolute;
    top: -55px;
    left: -93px;
    z-index: 5;
}
.figure_scissors {
    position: absolute;
    bottom: 62px;
    left: -51px;
    z-index: 5;
}
.coupon {
    position: relative;
} 
.text_promo_top_text {
    text-transform: uppercase;
}
.one_floor {
    font-size: 48px;
    letter-spacing: 1.2px;
    padding: 3px 0 0 10px;
    line-height: 48px;
}
.two_floor {
    line-height: 106px;
    font-size: 120px;
    letter-spacing: 3px;
    padding: 0 0 24px 6px;
    letter-spacing: 5px;
}
.three_floor, .five_floor{
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.6px;
    padding: 0px 1px 9px 6px;
}
.four_floor {
    font-family: 'Kaushan Script', cursive;
    line-height: 36px;
    letter-spacing: 1.1px;
    font-size: 48px;
    padding: 0px 1px 14px 6px;
}
.five_floor {
    padding: 0px 1px 30px 6px;
}
.six_floor {
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 13px;
    padding: 0 0 3px 6px;
}
.seven_floor {
    font-size: 14px;
    letter-spacing: 0.4px;
    padding: 2px 0px 3px 11px;
}
.content_footer {
    color: #ffffff;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    width: 1120px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
.content_footer h3 {
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 0.7px;
}
.content_footer a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 1px;
}
.content_footer_info {
    font-size: 14px;
    letter-spacing: 0.4px;
    padding-bottom: 11px;
}
.contacts li {
    padding-bottom: 9px;
}
.contacts li:last-child {
    padding-bottom: 0;
}
.twitter {
    width: 27px;
    height: 27px;
    background: url(../img/sprite/css_sprites_BakeryBo.png) -190px -204px;
}
.instagram {
    background: url(../img/sprite/css_sprites_BakeryBo.png) -237px -204px;
    width: 27px;
    height: 27px;
}
.facebook {
    background: url(../img/sprite/css_sprites_BakeryBo.png) -284px -204px;
    width: 27px;
    height: 27px;
}
.social_links a {
    display: block;
}
.social_links {
   display: flex;
   flex-direction: row;
   gap: 11px;  
}
.social_links a:hover {
    opacity: 0.6;
}
footer {
    position: relative;
}
.background_footer img{
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}
.social_media {
    padding: 51px 0 70px 0;
    margin-right: 72px;
}
.contacts {
    padding: 51px 0 70px 0;
}
.info_footer {
    padding: 56px 0 0 0;
    margin-right: 551px; 
}
p.copyright {
    padding: 32px 0px 90px 5px;
    font-size: 12px;
    letter-spacing: 0.5px;
}